body::before {
  content: '';
  display: block;
  height: 60px;
}

.sidebar {
  position: absolute;
  top: 5px;
  left: 15px;
  background-color: rgba(35, 55, 75, 0.9);
  z-index: 1;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
